* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #333;
  line-height: 1.5;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: .5rem;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav a:hover {
  font-weight: bold;
}

nav a.active {
  color: white;
  background-color: #007bff;
  border-radius: 4px;
}
